@import "../variables.scss";
@import "../typography.scss";

.magic__tab--container {
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;

    li {
      list-style: none;
      min-width: 72px;

      a {
        display: block;
        padding: 10px 20px;
        margin: 20px 0;
        text-decoration: none;
        color: #262626;
        font-weight: bold;
        transition: 0.5s;
        position: relative;

        &:hover {
          color: #fff;
        }

        &::before {
          content: "";
          position: absolute;
          /* 伪元素的尺寸等同于a的盒子尺寸 */
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          /* 伪元素是盒子，缩放的是高 */
          transform: scaleY(2);
          /* 隐藏伪元素，不可见 */
          opacity: 0;
          transition: 0.5s;
          z-index: -1;
        }

        &:hover::before {
          transform: scaleY(1.2);
          /* 显示伪元素 */
          opacity: 1;
        }

        &::after {
          content: "";
          position: absolute;
          /* 比a的盒子高效1px */
          top: 1px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000;
          /* 暂时隐藏伪元素：宽高为0 */
          /* 伪元素是盒子，缩放的是宽高 */
          transform: scale(0);
          transition: 0.5s;
          z-index: -1;
        }

        &:hover::after {
          /* 显示伪元素 */
          transform: scale(1);
        }
      }
    }
  }
}
